<div class="col-span-6 px-4 text-center sm:mb-6 lg:text-left lg:mb-0">
    <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">
        {{ .Title | safeHTML }}
    </h2>
    <p class="mb-4 font-light dark:text-white">
        {{ .Content | safeHTML }}
    </p>
    {{ if .Points }}
    <ul class="mb-4 max-w-md text-gray-500 list-disc list-inside dark:text-white">
        {{ range .Points }}
        <li class="space-x-3">{{ . }}</li>
        {{ end }}
    </ul>
    {{ end }}
    <p class="mb-4 font-medium dark:text-white">
        {{ .ContentBold | safeHTML }}
    </p>

    {{ if .ContentBullets }}
        <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
        {{ range .ContentBullets }}
            <li class="">
                {{ . | safeHTML }}
            </li>

        {{ end }}
        </ul>
    {{ end }}

    <a href="{{ .Link }}"
       class="inline-flex items-center font-medium text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-700">
        {{ .LinkText }}
        <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"></path>
        </svg>
    </a>

</div>


