<script type="text/javascript">
    var _iub = _iub || [];
    _iub.csConfiguration = {
        "askConsentAtCookiePolicyUpdate": true,
        "enableLgpd": true,
        "enableUspr": true,
        "floatingPreferencesButtonDisplay": "bottom-right",
        "perPurposeConsent": true,
        "siteId": 3221112,
        "usprApplies": true,
        "whitelabel": false,
        "cookiePolicyId": 67896629,
        "lang": "it",
        "banner": {
            "acceptButtonDisplay": true,
            "closeButtonDisplay": false,
            "customizeButtonDisplay": true,
            "explicitWithdrawal": true,
            "listPurposes": true,
            "position": "float-top-center",
            "rejectButtonDisplay": true
        }
    };
</script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/gpp/stub.js"></script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>